In [253]:
from dotenv import load_dotenv
import os
import pandas as pd
import coinmarketcapapi
from coinmarketcapapi import CoinMarketCapAPI
import matplotlib.pyplot as plt
import hvplot.pandas
import plotly.express as px
import panel as pn
import ccxt
from datetime import datetime as dt
pn.extension('plotly')
load_dotenv()

WARNING:param.panel_extension: A HoloViz extension was loaded previously. This means the extension is already initialized and the following Panel extensions could not be properly loaded: ['plotly']. If you are loading custom extensions with pn.extension(...) ensure that this is called before any other HoloViz extension such as hvPlot or HoloViews.

True

In [254]:
name = input("Hello, What is your name? ") 
print("Hi!", name) 
print("Welcome to our Crypto data set.") 
print("Amongst our research and investing in both the stock market and crypto markets, \
we seek to find a patern of liquidity flow within crypto exchanges during \
times of volatility.") 
answer = input("Are you familar with crypto currency either through personal means or media?")
if answer == "Yes" or "yes": 
    input("Are you currently or have you invested in crypto currency?") 
if answer == "Yes" or "yes": 
    print("Welcome", name + " We hope the data we chart can help both current investors and anyone interested in either \
learning more about crypto exchange flow or investing themeselves. Enjoy our exchange flow data")
elif answer == "No" or "no": 
    print("Welcome", name + " We hope the data we chart can help both current investors and anyone interested in either \
learning more about crypto exchange flow or investing themeselves. Enjoy exchange flow data" )

Hello, What is your name?
Hi!
Welcome to our Crypto data set.
Amongst our research and investing in both the stock market and crypto markets, we seek to find a patern of liquidity flow within crypto exchanges during times of volatility.
Are you familar with crypto currency either through personal means or media?
Are you currently or have you invested in crypto currency?
Welcome  We hope the data we chart can help both current investors and anyone interested in either learning more about crypto exchange flow or investing themeselves. Enjoy our exchange flow data

In [270]:
#Coin Market Cap API
cmc_api = os.getenv('CMC_API_KEY')
cmc = CoinMarketCapAPI(cmc_api)
global_quote = cmc.globalmetrics_quotes_latest()
global_df = pd.DataFrame(global_quote.data)
global_df

,active_cryptocurrencies,total_cryptocurrencies,active_market_pairs,active_exchanges,total_exchanges,eth_dominance,btc_dominance,defi_volume_24h,defi_volume_24h_reported,defi_market_cap,defi_24h_percentage_change,stablecoin_volume_24h,stablecoin_volume_24h_reported,stablecoin_market_cap,stablecoin_24h_percentage_change,derivatives_volume_24h,derivatives_volume_24h_reported,derivatives_24h_percentage_change,quote,last_updated
USD,5577,10338,42547,384,1388,19.22897,41.204369,9.730591e+09,9.730591e+09,7.558457e+10,25.113554,1.069987e+11,1.069987e+11,1.089902e+11,34.384989,2.179681e+11,2.179681e+11,45.79234,"{'total_market_cap': 1508883201461.5227, 'tota...",2021-06-09T00:10:17.999Z

In [256]:
#Data Map ID CMC
data_id_map = cmc.cryptocurrency_map()
data_idmap = pd.DataFrame(data_id_map.data)
data_idmap_df = data_idmap.set_index('rank')
idmap_data = data_idmap_df.sort_index(ascending=True)
#Current Price for BTC,ETH,ADA
eth_data_quote = cmc.cryptocurrency_quotes_latest(symbol='ETH', convert='USD')
btc_data_quote = cmc.cryptocurrency_quotes_latest(symbol='BTC', convert='USD')
doge_data_quote = cmc.cryptocurrency_quotes_latest(symbol='DOGE', convert='USD')
ada_data_quote = cmc.cryptocurrency_quotes_latest(symbol='ADA', convert='USD')
eth_data_quote_df = pd.DataFrame(eth_data_quote.data)
btc_data_quote_df = pd.DataFrame(btc_data_quote.data)
doge_data_quote_df = pd.DataFrame(doge_data_quote.data)
ada_data_quote_df = pd.DataFrame(ada_data_quote.data)
eth_df = eth_data_quote_df.T
btc_df = btc_data_quote_df.T
doge_df = doge_data_quote_df.T
ada_df = ada_data_quote_df.T

In [257]:
#Current Price for BTC,ETH,DOGE,ADA
eth_current_price = eth_df['quote']['ETH']['USD']['price']
btc_current_price = btc_df['quote']['BTC']['USD']['price']
doge_current_price = doge_df['quote']['DOGE']['USD']['price']
ada_current_price = ada_df['quote']['ADA']['USD']['price']

In [258]:
btc_dom= global_df['btc_dominance']
stablecoin_mktcap= global_df['stablecoin_market_cap']
deriv_pctchange= global_df['derivatives_24h_percentage_change']
total_market_cap =global_df['quote']['USD']['total_market_cap']
altcoin_mktcap = global_df['quote']['USD']['altcoin_market_cap']
last_updated = global_df['quote']['USD']['last_updated']

In [259]:
#CCXT KRAKEN API
# Import environment variables
kraken_public_key = os.getenv("KRAKEN_API_KEY")
kraken_secret_key = os.getenv("KRAKEN_PRIVATE_KEY")

# Verify that environment variables were loaded
print(f"Kraken key data type: {type(kraken_public_key)}")
print(f"Kraken secren data type: {type(kraken_secret_key)}")

# Set the public and private keys for the API
exchange = ccxt.kraken({
    'apiKey': kraken_public_key,
    'secret': kraken_secret_key,
})

# Connect to Kraken and load the available cryptocurrencies
crypto_details = exchange.load_markets()

# Import data as a Pandas DataFrame
crypto_df = pd.DataFrame(crypto_details)

Kraken key data type: <class 'str'>
Kraken secren data type: <class 'str'>

In [273]:
# BTC Historical Prices
btc_historical_prices = exchange.fetch_ohlcv("BTC/USD", "1d")
btc_historical_prices_df = pd.DataFrame(
    historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
btc_historical_prices_df['Date'] = pd.to_datetime(btc_historical_prices_df['timestamp'], unit='ms')
btc_hist_prices_df =btc_historical_prices_df.drop(columns='timestamp')
btc_price = btc_hist_prices_df.set_index('Date')
btc_price_crash1 = btc_price.loc['2021-05-19']
btc_price_crash2 = btc_price.loc['2021-05-23']
btc_price_crash3 = btc_price.loc['2019-06-26':'2020-12-03']

In [216]:
#ETH Historical Prices
eth_historical_prices = exchange.fetch_ohlcv("ETH/USD", "1d")
eth_historical_prices_df = pd.DataFrame(
    eth_historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
eth_historical_prices_df['Date'] = pd.to_datetime(eth_historical_prices_df['timestamp'], unit='ms')
eth_hist_prices_df = eth_historical_prices_df.drop(columns='timestamp')
eth_price = eth_hist_prices_df.set_index('Date')
eth_price.head()

              open    high     low   close         volume
Date
2019-06-20  268.90  274.20  266.51  271.99   40588.112760
2019-06-21  271.97  296.59  271.97  296.08  117214.372819
2019-06-22  296.01  314.56  293.52  308.54  116845.326536
2019-06-23  308.37  318.20  301.00  305.99   72649.751428
2019-06-24  305.97  313.09  295.00  310.44   62913.046964

In [226]:
#Historical Prices Dogecoin
doge_historical_prices = exchange.fetch_ohlcv("DOGE/USD", "1d")
doge_historical_prices_df = pd.DataFrame(
    doge_historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
doge_historical_prices_df['Date'] = pd.to_datetime(doge_historical_prices_df['timestamp'], unit='ms')
doge_hist_prices_df = doge_historical_prices_df.drop(columns='timestamp')
doge_price = doge_hist_prices_df.set_index('Date')
doge_price.head()

                open      high       low     close        volume
Date
2019-12-19  0.002100  0.037000  0.002100  0.002500  1.665000e+04
2019-12-20  0.002052  0.002300  0.002000  0.002020  6.796013e+05
2019-12-21  0.002100  0.002100  0.002100  0.002100  7.484094e+05
2019-12-22  0.002070  0.002103  0.001953  0.002085  1.614581e+06
2019-12-23  0.002121  0.002306  0.001997  0.002232  1.616856e+05

In [227]:
#Historical Prices Cardano
ada_historical_prices = exchange.fetch_ohlcv("ADA/USD", "1d")
ada_historical_prices_df = pd.DataFrame(
    ada_historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
ada_historical_prices_df['Date'] = pd.to_datetime(ada_historical_prices_df['timestamp'], unit='ms')
ada_hist_prices_df = ada_historical_prices_df.drop(columns='timestamp')
ada_price = ada_hist_prices_df.set_index('Date')
ada_price.head()

                open      high       low     close        volume
Date
2019-06-20  0.089755  0.090300  0.085352  0.087526  7.112277e+06
2019-06-21  0.087724  0.091000  0.087511  0.089762  6.363689e+06
2019-06-22  0.089622  0.097370  0.089190  0.093867  1.961449e+07
2019-06-23  0.093934  0.102430  0.090000  0.096167  1.624481e+07
2019-06-24  0.095900  0.098752  0.093443  0.097800  7.107311e+06

In [276]:
#Historical Prices USDT
usdt_historical_prices = exchange.fetch_ohlcv("USDT/USD", "1d")
usdt_historical_prices_df = pd.DataFrame(
    usdt_historical_prices, columns=["timestamp", "open", "high", "low", "close", "volume"]
)
usdt_historical_prices_df['Date'] = pd.to_datetime(usdt_historical_prices_df['timestamp'], unit='ms')
usdt_hist_prices_df = usdt_historical_prices_df.drop(columns=['timestamp','open','high','low'])
usdt_price = usdt_hist_prices_df.set_index('Date')
usdt_price.head()

             close        volume
Date
2019-06-21  1.0028  3.069168e+06
2019-06-22  0.9950  5.867149e+06
2019-06-23  0.9922  3.145166e+06
2019-06-24  0.9964  1.568689e+06
2019-06-25  0.9950  2.188271e+06